.profile {
    flex: 1;
    height: 500px;
    text-align: center;
}
.avatar {
    background-color: rgb(244, 241, 241);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.info {
    text-align: left;
    margin-left: 40px;
}
.name {
    text-align: left;
    margin-left: 60px;
}
.achivements {
    text-align: left;
}
.achivements ul {
    list-style: none;
}
.achivements h3 {
    margin-left: 50px;
}
