.tools {
    flex: 2;
    height: 500px;
    text-align: center;
}
.navigation {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation button {
    margin: 0px 10px;
    width: 100px;
    height: 40px;
}