.wrapper {
    text-align: left;
}
.date {
    text-align: start;
    margin-left: 30px;
}
.list {
    list-style: none;
}
.list li {
    text-align: start;
    margin-bottom: 5px;
    width: max-content;
    height: 22.5px;
}
.list li:hover {
    background-color: rgb(236, 234, 234);
}
.change {
    margin-right: 800px;
}

