.wrapper {
    text-align: left;
}
.date {
    text-align: start;
    margin-left: 30px;
}
.list {
    list-style: none;
}
.list li {
    text-align: start;
}
.change {
    margin-right: 800px;
}
.addNewButton {
    margin-left: 30px;
    border: none;
    color: rgb(51, 51, 255);
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
}
.addNewButton:hover {
    text-decoration: underline;
}
.pencilIcon {
    margin: 0 5px;
}
.addItemDialog,
.updateItemDialog {
    border: 1px solid black;
    border-radius: 5px;
}
